.text-theme,
.text-hover-theme a:hover,
.text-hover-theme .active > a {
  color: #105cad !important; }

.nav-active-theme .nav-link.active,
.nav-active-theme .nav > li.active > a,
.btn.theme,
.btn.b-theme:hover,
.btn.b-theme:focus,
.pace .pace-progress,
.theme {
  color: rgba(255, 255, 255, 0.85) !important;
  background-color: #105cad !important; }

.b-theme,
.nav-border,
nav.nav-border {
  border-color: #105cad !important; }

.btn.theme-accent,
.btn.b-theme-accent:hover,
.btn.b-theme-accent:focus {
  color: rgba(255, 255, 255, 0.85) !important;
  background-color: #22b66e !important; }

.theme-accent {
  color: rgba(255, 255, 255, 0.85) !important;
  background-color: #22b66e !important; }

.sidenav .nav-border .active > a,
.sidenav .nav-active-text .active > a {
  color: #105cad; }

.fill-theme {
  fill: #105cad; }

.stroke-theme {
  stroke: #105cad; }