	 .sk-double-bounce {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 40px auto
}

 .sk-double-bounce .sk-child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-doubleBounce 2s ease-in-out infinite;
    animation: sk-doubleBounce 2s ease-in-out infinite
}

 .sk-double-bounce .sk-double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

@-webkit-keyframes sk-doubleBounce {
    0%,
    to {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes sk-doubleBounce {
    0%,
    to {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

 .preloader {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 99999;
    background: #2196f3;
    display: flex;
    align-items: center;
    justify-content: center
}

 .preloader .sk-child {
    background-color: #fff
}
